*.sln
*.vcxproj*
*.obj
*.idb
*.pdb

*.exe
*.lib

/.vs
/build/
/shaders/bin/
/src/obj/

/thirdparty/include/dxc/
/thirdparty/include/glslang/
/thirdparty/include/slang/
/thirdparty/include/shaderc/
/thirdparty/include/spirv_cross/
/thirdparty/include/spirv-headers/
/thirdparty/include/spirv-tools/
/thirdparty/include/vk_video/
/thirdparty/include/Volk/
/thirdparty/include/vma/
/thirdparty/include/vulkan/