[submodule "thirdparty/include/glm"]
	path = thirdparty/include/glm
	url = https://www.github.com/g-truc/glm
[submodule "thirdparty/include/glfw"]
	path = thirdparty/include/glfw
	url = https://github.com/glfw/glfw
[submodule "thirdparty/include/stb-image"]
	path = thirdparty/include/stb-image
	url = https://www.github.com/nothings/stb
[submodule "thirdparty/include/tinyOBJ"]
	path = thirdparty/include/tinyOBJ
	url = https://github.com/tinyobjloader/tinyobjloader

[submodule "thirdparty/include/imgui"]
	path = thirdparty/include/imgui
	url = https://www.github.com/ocornut/ImGui.git
	branch = docking
